* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.default-input {
  margin: 0 5px;
}

/* header section */

.app-header-container {
  align-items: center;
  background-color: rgb(252, 187, 185);
  border-bottom: 1px solid black;
  display: flex;
  height: 50px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.app-header-container span {
  color: #fff;
  font-size: x-large;
  font-weight: 500;
}

.logo-container {
  margin: 0 5%;
  height: 80%;
  width: 40px;
}

.logo-container img {
  height: 100%;
  width: 100%;
}

.app-header-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  visibility: hidden;
}

/* modal */

.modal {
  background-color: rgb(252, 187, 185);
  border: 1px rgb(138, 138, 138) solid;
  border-radius: 10px;
  color: white;
  height: 40px;
  line-height: 40px;
  margin: 60px auto 0;
  width: 350px;
  text-align: center;
  visibility: hidden;
}

/* app */

.root-container {
  margin: 10px auto 0;
  width: 600px;
}

/* game menu */

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.menu-container {
  height: 50px;
  width: 100%;
}

.menu-container button {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
  margin: 0 2px;
  outline: none;
}

.small-size {
  width: 60px;
}

.medium-size {
  width: 80px;
}

.large-size {
  width: 150px;
}

/* board section */

.board-container {
  margin: 10px;
}

.board-container table {
  margin: 0 auto;
}

.board-container td {
  height: 40px;
  width: 40px;
}

.board-container .cell {
  height: 100%;
  line-height: 28px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.board-container .closed {
  background-color: rgb(212, 212, 212);
}

.board-container .closed:hover {
  background-color: darkgray;
}

.board-container .opened {
  background-color: rgb(255, 254, 181);
}

.board-container .mine {
  background-color: rgb(255, 202, 181);
}

.board-container .safe-click {
  background-color: rgb(202, 250, 170);
}

/* best scores section */

.best-scores-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.difficulty-scores-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.scores-list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.scores-list li {
  margin: 5px 0;
}